/* För att ta bort styling på "add_amount"-fältet */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#add_form {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  flex-wrap: wrap;
}

.adminProductlist {
  height: 65vh;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

// flex parent för product cards

.product-card {
  padding: 1rem;
  box-sizing: content-box;
  max-width: 200px;
  min-width: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}
@media (max-width: 1100px) {
  .product-card {
    padding: 1rem;
    box-sizing: content-box;
    max-width: 305px;
    min-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
  }
}
@media (max-width: 770px) {
  .product-card {
    padding: 1rem;
    box-sizing: content-box;
    max-width: 350px;
    min-width: 170px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
  }
}

@media (max-width: 765px) {
  .product-card {
    padding: 1rem;
    box-sizing: content-box;
    max-width: 400px;
    min-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
  }
}

// Styling av bild, text och knapp inuti product cards, för startsida och addproduct


.product_img {
  width: 100%;   
}

.product_description {
  align-self: flex-start;
  margin-top: 10px;
  font-style: oblique; 
}

.product_price {
  align-self: center;
  margin-top: 20px;
  font-weight: bold;
}

.product_title {
  padding-top: 30px;
  align-self: flex-start;
}

.product_kr {
  position: relative;
  bottom:1.23rem;
  left: 1.3rem;
  font-weight: bold;
  margin-left: 10px;
}


#edit {
  color: white;
  background-color: black;
  display: inline-block;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  margin-top: auto;
}

#delete {
  color: white;
  background-color: black;
  display: inline-block;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
}