/* För att ta bort styling på "add_amount"-fältet */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#add_form {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: 5vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

// All css måste fixas

// flex container

.productlist {
  height: 65vh;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

// flex items

.product-card {
  display: flex;
  flex-direction: column;
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%; // Så det blir 5 st på varje rad
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

//För att det ska bli 4 produkter på samma rad
@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}

//För att dom två första produkterna ska visas stort
.productlist .product-card:first-child,
.productlist .product-card:nth-child(2) {
  flex: 2 46%;
}

// Två produkter brevid varann i mobilversion
@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}

// alla produkt element

//Lägg till en min height på bilder
.product_img {
  max-width: 100%;
  border: 1px solid black;
}

// .product_title

// .product_description

// .product_price

// .product_kr

// #addCartBtn

// #edit

// #delete
