footer {
    border:1px solid black;
    height:15vh;
    display:flex;
    justify-content: space-between;
}

.footer_left {
    padding:1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.footer_right {
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

//.footer_item


//hidden class för att dölja adminsida om man inte är inloggad
.hidden {
    display:none !important;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}