//För att login funktionen ska fungera
.hidden {
    display:none !important;
}

//Login formen

.logIn {
    
    position: absolute;
    right:0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  #username {
    width: 30%;
  }
  
  #password {
    width: 30%;
  }
  
  //#loginBtn

//Footer

footer {
    border-top:1px solid black;
    width:100%;
    height:auto;
    position: relative;
    display:flex;
    justify-content: space-between;
}

.footer h2{
    font-weight: 400;
    font-size: 2rem;
    font-family: "Caveat", cursive;
    padding-bottom: 0.5rem;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
    font-family: 'Roboto', sans-serif;
}

.footer a {
    text-decoration: none;
}

.box a{
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 2em;
}

//För footer left
.footer_left {
    padding: 1rem;
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.footer_left img {
    width:30%;
    align-self: center;
}

.socials{
    align-self: center;
}

.socials a {
    background: #F6F2EC;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i{
    color: #000000;
    padding: 10px 12px;
    font-size: 20px;
}

// Footer mid
.footer_mid {
    width:30%;
    padding-top:1rem;
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.footer_mid i {
    padding-right: 0.5rem;
}

// Footer right
.footer_right {
    width:30%;
    padding-top:1rem;
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
}

@media screen and (max-width:1500px){
    .footer_left img {
        width:50%;
    }

    .socials a {
        width: 40px;
        height: 40px;
        margin-right: 2px;
    }
}

@media screen and (max-width:1120px){
    .footer_left img {
        width:70%;
    }
    .footer h2{
        font-weight: 400;
        font-size: 2.2vw;
        padding-bottom: 0.5rem;
    }

    .socials a {
        width: 40px;
        height: 40px;
        margin-right: 0;
    }
    .socials a i{
        color: #000000;
        padding: 10px 12px;
        font-size: 20px;
    }

  
}
// Under 700px blir footern column reverse
@media screen and (max-width:700px){

    footer {
        height:auto;
        flex-direction:column-reverse;
        justify-content: space-between;
    }

    .footer_left {
        padding: 1rem;
        width:100%;
    }
    .footer_mid {
        width:100%;
        padding-top:2rem;
    }

    .footer_right {
        width:100%;
        padding-top:2rem; 
    }

    .footer h2{
        font-weight: 400;
        font-size: 5vw;
        padding-bottom: 0.5rem;
    }
    
    .socials a i{
        color: #000000;
        font-size: 35px;
    }

    .box li {
        font-size: 1.3rem;
    }

    .logIn {
        position: absolute;
        top:0;
        bottom:auto;
        right:auto;
        justify-content: center;
    }

} 




