header {
  display: flex;
  height: 15vh;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.headerLogo {
<<<<<<< HEAD

    //test

}

.headerLogo, h1{
font-size: 70px;
font-family: 'Caveat', cursive;
color: black;
text-decoration: underline

=======
  display: flex;
  margin-top: 1%;
  margin-left: 2%;
}

.headerLogo,
h1 {
  font-size: 70px;
  font-family: "Caveat", cursive;
}
>>>>>>> e183636bf79ae4d62d8a2c70dd9bfd3e13bac6d3

.headerLogoSmall {
 display:flex;
 margin-left: 2%;
}


//media queries för att visa liten logga i -750px och stora i 750px+
@media screen and (max-width:750px){
  .headerLogo {
    display:none;
  }

}

@media screen and (min-width:751px){
  .headerLogoSmall {
    display:none;
  }
}

//För dom minsta telefonerna så blir headern i column
@media screen and (max-width: 400px) {
  header {
    display:flex;
    flex-direction: column;
    height:auto;
    justify-items: center;
    align-items: center;
}
  .dropdown {
  margin-right: 0;
  margin-bottom: 5rem;
}
}

