// flex container

.productlist {
  height: 65vh;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

// ALL CSS FÖR PRODUCTCARD LIGGER I addProducts.scss


#addCartBtn {
  color: white;
  background-color: black;
  display: inline-block;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  margin-top: auto;
  
}


